@model Kuharica.ViewModels.RecipeFormViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dodaj Recept</h2>
@using (Html.BeginForm("Create", "Recipes"))
{
    <div class="form-group">
        @Html.LabelFor(r => r.Name)
        @Html.TextBoxFor(r => r.Name, new {@class = "form-control"})
    </div>

    <div class="form-group">
        @Html.LabelFor(r => r.Meal)
        @Html.DropDownListFor(r => r.Meal, new SelectList(Model.Meals, "Id", "Type"), "", new {@class = "form-control"})
    </div>

    <div class="form-group">
        @Html.LabelFor(r => r.Time)
        @Html.TextBoxFor(r => r.Time, "{t}", new {@class = "form-control"})
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
}