@using System.Web.Mvc.Html
@model Kuharica.ViewModels.RecipeFormViewModel

@{
    ViewBag.Title = "Dodaj Recept";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Heading</h2>
@using (Html.BeginForm(Model.Action, "Recipes"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(r => r.Id)

    <div class="form-group">
        @Html.LabelFor(r => r.Name)
        @Html.TextBoxFor(r => r.Name, new {@class = "form-control"})
        @Html.ValidationMessageFor(r => r.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(r => r.Meal)
        @Html.DropDownListFor(r => r.Meal, new SelectList(Model.Meals, "Id", "Type"), "", new {@class = "form-control"})
        @Html.ValidationMessageFor(r => r.Meal)
    </div>

    <div class="form-group">
        @Html.LabelFor(r => r.Description)
        @Html.TextAreaFor(r => r.Description, new { @class = "form-control"})
        @*@Html.ValidationMessageFor(r => r.Description)*@
    </div>

    <div class="form-group">
        @Html.LabelFor(r => r.Ingredient)
        @Html.TextAreaFor(r => r.Ingredient, new { @class = "form-control"})
        @*@Html.ValidationMessageFor(r => r.Ingredient)*@
    </div>

    <div class="form-group">
        @Html.LabelFor(r => r.Serving)
        @Html.TextBoxFor(r => r.Serving, new {@class = "form-control"})
        @*@Html.ValidationMessageFor(r => r.Serving)*@
    </div>
    
    <div class="form-group">
        @Html.LabelFor(r => r.PreparationInstruction)
        @Html.TextAreaFor(r => r.PreparationInstruction, new { @class = "form-control" })
        @*@Html.ValidationMessageFor(r => r.PreparationInstruction)*@
    </div>

    <div class="form-group">
        @Html.LabelFor(r => r.Time)
        @Html.TextBoxFor(r => r.Time, new {@class = "form-control", placeholder = DateTime.Now.ToString("HH:mm") })
        @Html.ValidationMessageFor(r => r.Time)
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}